


h1 {
  
  font-family: 'Satisfy', cursive;  
  font-size: 50px;
  display: inline-block;  
  padding-top: 1.5%;  
  width: 100%;
  text-align : center;
  
  color: black;
}
#session {
  top:0;
  padding-top:0;
  position:relative;
  margin:0;
  margin-left: 100px;
}



header{
  overflow: hidden;
  margin:auto;
  width:100%;
  
  height:60px; 

  position:fixed; 
  z-index:101; 
  background: #3a3a3a;  
  border-bottom: 10px solid #b9b8b3; 
  
}



body{
  margin: 0px;
  background-color: rgb(143, 143, 143);
  font-weight: 500;
}
nav > li{
  float: left;
}
nav  li:hover{
  transform: scale(1.05);
}

nav{
  margin:0 auto;
  width:1000px; /*Ancho del menú dentro de la barra, variaremos este valor hasta conseguir el que buscamos*/
}


nav ul{
  margin:0;
  padding: 0;
  list-style: none ;
}
nav li{
  
  display: inline-block;
  
  margin-left: 70px;

  padding-top: 20px;
  

  position: relative ;
}
nav a{
  color:#c4c4c4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 125%;                              
}
nav a:hover{  
  color:#dddddd;
}



nav li::before{
  content:'';
  display: block;
  height: 150%;
  width: 0%;
  background: linear-gradient(180deg, #3a3a3a  , #616161,  #b9b8b3);
  position: absolute;
  top:90%;  
  transition: all ease-in-out 150ms;
}

 nav li:hover::before{
width: 100%;

} 
.container{
  width: 80%;
  margin: 0 auto;
  
}


canvas{   
  margin-top: 5vh;
  display: block;
  position: relative;
  border-color:rgb(92, 92, 92);
  border-width:3vh;
  
  border-style: solid;
  border-radius: 0px;
}

